!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Video Manager'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav{class: "navbar navbar-inverse navbar-fixed-top"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{data: {toggle: 'collapse', target: '#navbar'}, aria: { expanded: 'false', controls: 'navbar'}}
            -# , aria: { expanded: 'false', aria-controls: 'navbar'}}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{href: '#'} Awesome Videos
    - flash.each do |name, msg|
      .flash{class: "#{name}"}= msg
    = yield
